<h1>Lists</h1>

<% @lists.each do |list| %>
<%= link_to list.name, user_list_path(current_user, list), class: "lister" %> <br>
<% end %>

<br> <br>
<%= link_to "View all Uncompleted Tasks", "/users/#{current_user.id}/tasks_to_complete" %>

<div id="lists">
</div>

<script id="list-template" type="text/x-handlebars-template">
  <div id="lists">
    <h2>{{name}} </h2>
    <form class="edit_task" id="edit_task_1" action="/tasks/1" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="3nrRL2Z2ZvyuPdKTpmID/Yg2CIVw5oIALoGTzi7DIZA34yXx2hjdfA+j7Zeq22Dow2/UJvfXmuOLWe+K5FPxPQ==">
        <label for="task_name">
          <input name="task[completed]" type="hidden" value="0"><input type="checkbox" value="1" name="task[completed]" id="task_completed">
          1
          <input type="submit" name="commit" value="Update Task" data-disable-with="Update Task">
  </label></form>  <form class="edit_task" id="edit_task_2" action="/tasks/2" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="3nrRL2Z2ZvyuPdKTpmID/Yg2CIVw5oIALoGTzi7DIZA34yXx2hjdfA+j7Zeq22Dow2/UJvfXmuOLWe+K5FPxPQ==">
        <label for="task_name">
          <input name="task[completed]" type="hidden" value="0"><input type="checkbox" value="1" name="task[completed]" id="task_completed">
          2
          <input type="submit" name="commit" value="Update Task" data-disable-with="Update Task">
  </label></form>  <form class="edit_task" id="edit_task_3" action="/tasks/3" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="3nrRL2Z2ZvyuPdKTpmID/Yg2CIVw5oIALoGTzi7DIZA34yXx2hjdfA+j7Zeq22Dow2/UJvfXmuOLWe+K5FPxPQ==">
        <label for="task_name">
          <input name="task[completed]" type="hidden" value="0"><input type="checkbox" value="1" name="task[completed]" id="task_completed">
          3
          <input type="submit" name="commit" value="Update Task" data-disable-with="Update Task">
  </label></form>  <div id="list_navigation">
       <a class="list_nav_link" href="/users/1/lists/0">previous</a>     <a class="list_nav_link" href="/users/1/lists/2">next</a>
    </div>
  </div>
</script>

</label></form>  <div id="list_navigation">
     <a class="list_nav_link" href="/users/1/lists/0">previous</a>     <a class="list_nav_link" href="/users/1/lists/2">next</a>
  </div>
